@model IEnumerable<MorgueTrackerMVC.Models.Release>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuneralHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuneralHomeEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutEmployee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuneralHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuneralHomeEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickedUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutEmployee.EmployeeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReleaseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReleaseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReleaseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
